//port number
PORT=
//secret password
SESSION_SECRET=''
//formbar id
FORMBAR_CLIENT_ID=""
//formbar api key
FORMBAR_CLIENT_SECRET=""
//formbar link
FORMBAR_REDIRECT_URL=""
//the your ip or link your running at
THIS_URL=""
//database file
DATABASE_FILE=''